@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Drakalligro';
  src: url('/fonts/Drakalligro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
